<!DOCTYPE html>
<html>
<head>
    <title>City</title>
</head>
<body>
<form action="/weather/details" method="post">
    <label>City</label>
    <input type="text" name="city"><br><br>
    <input type="submit" name="">
</form>
</body>
</html>
