<!DOCTYPE html>
<html>
<head>
    <title>City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body class="container" >
    <h1 style="color:gold">Weather app</h1>
    <form action="/weather/details" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="city" placeholder="City...">
        <input type="submit" name="" class="btn" style="background-color:coral">
        <% if(weather !== null){ %>
          <h2 style="color:cornflowerblue">
            <%= weather %>
          </h2>
          <% } %>
            <% if(error !== null){ %>
              <h2>
                <%= error %>
              </h2>
              <% } %>
              </div>
    </form>
</body>
</html>
